# PDB file
PDB = 1LE1.pdb

# atoms to compute RMSD, options: CA, heavy, all
seltype = heavy

# do HMC
HMC = 1

# the scan range of RMSD
RMSD-min = 0.05
RMSD-max = 0.80
RMSD-del = 0.005

# Wang-Laudau paramters

# initial lnf
WL-lnf0 = 1e-3
# flatness threshold to switch stages
WL-flatness = 0.3
# factor to be multiplied to lnf, when switching stages
WL-frac = 0.5
# asymmetrical factor C as in lnf = C/t
# with t measured by the number of steps.
Invt-C = 1


# minimal and maximal mean force
mfmin = -200
mfmax = 200

# minimal and maximal mean force for RMSD < RMSDmin
mflmin = -200
mflmax = 0

# minimal and maximal mean force for RMSD > RMSDmax
mfhmin = 2
mfhmax = 200

# output file of the bias potential
# which is the negative potential of mean force
fn-vrmsd = vrmsd.dat

# RMSD
fnlog = rmsd.log

# number of steps to write the log file
nstlog = 100

# number of steps to print a short message
nstchat = 1000

# number of steps to save the bias potential and histogram
nstrep = 10000

